<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculated Result</title>
    style(type="text/css").
        .my-result{
            color: red;
        }
    
</head>
<body>
<header>
    <h1> Calculated Result </h1>
</header>
    <main>
        h2(class="my-result") The Answer is #{result}
        <div>
        <a href="/">Another Calculation</a>
        </div>
        
    </main>
</body>
</html>